{% extends 'base.html' %}

{% load static %}

	{% block body %}

	<!--================Home Banner Area =================-->
	<section class="banner_area ">
		<div class="banner_inner overlay d-flex align-items-center">
			<div class="container">
				<div class="banner_content">
					<div class="page_link">
						<a href="index.html">Home</a>
						<a href="blog.html">About US</a>
					</div>
					<h2>Semester 6 Project</h2>
				</div>
			</div>
		</div>
	</section>
	<!--================End Home Banner Area =================-->

<br>



	<div class="container">
		<div class="team_item">
			<h2>About the Project: </h2>
			<p class="lead">
				<br>
				Pack your bags. We’re going on vacation!!<br><br>

That’s exactly what an effective travel website should make you feel. With vibrant imagery and vivid copy it should trigger the travel bug.
The world is such a beautiful place that we can enjoy a lot in a few days '
				<br><br>

The problem is we have a lot of websites but they provide different kinds of services.
The customers enjoy a lot but there is a lack of connection between travel agencies and customers and hence we have tried to develop a partnership by caring for and serving all customers in the same way we want to be served.
<br><br>
Our priority will be our customers and their travel requirements.
We have maintained a robust database because the information found within is very sensitive in nature and can disclose a lot of personal details about all the customers.
There will be a lot of users visiting the website and so we need a good and stable frontend that can hold users on our website.
Via this website we provide the customers with various types of travel packages and provide everything relevant to their itineraries.
We are creating this website to build and encourage tourism types that provide visitors and locals with safe interaction opportunities, and enhance understanding of different cultures, traditions, lifestyles, traditional knowledge and beliefs.

			</p>
		</div>
	</div>





{% endblock %}

