{% extends 'base.html' %}

{% load static %}

	{% block body %}





	<!--================Home Banner Area =================-->
	<section class="banner_area ">
		<div class="banner_inner overlay d-flex align-items-center">
			<div class="container">
				<div class="banner_content">
					<div class="page_link">
						<a href="index.html">Home</a>
						<a href="blog.html">Blog</a>
					</div>
					<h2>Blog Home</h2>
				</div>
			</div>
		</div>
	</section>
	<!--================End Home Banner Area =================-->

<br><br>

    <!--================Blog Area =================-->
    <section class="blog_area">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <div class="blog_left_sidebar">

                        {% for b in blogs %}

                        <article class="row blog_item">
                            <div class="col-md-3">
                                <div class="blog_info text-right">
                                    <div class="post_tag">
                                        <br>
                                        <br>
                                    </div>
                                    <ul class="blog_meta list">
                                        <li><a href="#">{{b.author}}<i class="lnr lnr-user"></i></a></li>
                                        <li><a href="#">{{b.nViews}} Views<i class="lnr lnr-eye"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-md-9">
                                <div class="blog_post">
                                    <img src="/static/{{b.imagebig}}" alt="">
                                    <div class="blog_details">
                                        <a href="single-blog.html">
                                            <h2>{{b.title}} </h2>
                                        </a>
                                        <p>{{ b.body|truncatechars:255 }}</p>
                                        <a href="blog/{{b.id}}" class="blog_btn">View More</a>
                                    </div>
                                </div>
                            </div>
                        </article>

                        {% endfor %}

                        <br>
                        <br>
                    </div>
                    <nav class="blog-pagination justify-content-center d-flex">
                            <ul class="pagination">
                                <li class="page-item">
                                    <a href="#" class="page-link" aria-label="Previous">
                                        <span aria-hidden="true">
                                            <span class="lnr lnr-chevron-left"></span>
                                        </span>
                                    </a>
                                </li>
								{% for i in nPages %}
                                <li class="page-item"><a href="blog?page={{forloop.counter}}" class="page-link">{{forloop.counter}}</a></li>
								{% endfor %}
                                <li class="page-item">
                                    <a href="#" class="page-link" aria-label="Next">
                                        <span aria-hidden="true">
                                            <span class="lnr lnr-chevron-right"></span>
                                        </span>
                                    </a>
                                </li>
                            </ul>
                        </nav>
                </div>
                <div class="col-lg-4">
                    <div class="blog_right_sidebar">
                        <br>
                        <aside class="single_sidebar_widget search_widget">
                           <form method="get" action="{% url 'searchtour' %}">
                            <div class="input-group">

                                <input type="text" name="query" class="form-control" placeholder="Search Posts">
                                <span class="input-group-btn">
                                    <button class="btn btn-default" type="submit"><i class="lnr lnr-magnifier"></i></button>
                                </span>

                            </div><!-- /input-group -->
                               </form>

                            <div class="br"></div>
                        </aside>





                        <aside class="single_sidebar_widget popular_post_widget">
                            <h3 class="widget_title">Popular Posts</h3>

                            {% for i in t4b %}
                            <div class="media post_item">
                                <img src="/static/{{i.imagebig}}" alt="post" height="40px" width="40px">
                                <div class="media-body">
                                    <a href="blog-details.html">
                                        <h3>{{i.title}}</h3>
                                    </a>
                                    <p>{{i.author}}</p>
                                </div>
                            </div>
                            {% endfor %}

                        </aside>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--================Blog Area =================-->








{% endblock %}