{% extends 'base.html' %}

{% load static %}

	{% block body %}


<!--================Home Banner Area =================-->
	<section class="banner_area ">
		<div class="banner_inner overlay d-flex align-items-center">
			<div class="container">
				<div class="banner_content">
					<div class="page_link">
						<a href="index.html">Home</a>
						<a href="packages.html">Packages</a>
					</div>
					<h2>Trip Packages</h2>
				</div>
			</div>
		</div>
	</section>
	<!--================End Home Banner Area =================-->
<section class="package-area section_gap_top">
	<div class="container">

	<div class="row">
{% for i in tours %}


				<div class="col-lg-4 col-md-6">
					<div class="single-package">
						<div class="thumb">
							<img class="img-fluid" src="/static/{{i.image}}" alt="">
						</div>
						<p class="date"><span>Rs</span> <br>{{i.price}}</p>
						<div class="meta-top d-flex">
							<p><span class="fa fa-location-arrow"></span>{{i.state}}</p>
							<p class="ml-20"><span class="fa fa-calendar"></span>{{i.dn}}</p>
						</div>
						<h4>{{i.destination}}</h4>
						<p>
							{{i.sdesc}}
						</p>
						<a href="/tours/{{i.id}}" class="primary-btn">Book Now</a>
					</div>
				</div>

{% if forloop.counter|divisibleby:"3"  and forloop.counter > 0 and not forloop.last%}

	</div>
	<div class="row">

{% endif %}


{% endfor %}

	</div>
</div>
</section>


<nav class="blog-pagination justify-content-center d-flex">
                            <ul class="pagination">
                                <li class="page-item">
                                    <a href="#" class="page-link" aria-label="Previous">
                                        <span aria-hidden="true">
                                            <span class="lnr lnr-chevron-left"></span>
                                        </span>
                                    </a>
                                </li>
								{% for i in nPages %}
                                <li class="page-item"><a href="tours?page={{forloop.counter}}" class="page-link">{{forloop.counter}}</a></li>
								{% endfor %}
                                <li class="page-item">
                                    <a href="#" class="page-link" aria-label="Next">
                                        <span aria-hidden="true">
                                            <span class="lnr lnr-chevron-right"></span>
                                        </span>
                                    </a>
                                </li>
                            </ul>
                        </nav>


{% endblock %}